html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  width: 100px;
}
.firstColor {
  color: #ff764e;
}
.secondColor {
  color: #5ed3eb;
}
.thirdColor {
  color: #ffcd69;
}
h1 {
  font-family: "chelsea market";
  font-weight: 900;
}
p {
  font-family: roboto mono;
  background-color: #ddb9a3;
}
footer {
  background-color: #f9e7dc;
}
.firstimg img {
  border-radius: 50%;
}
.firstColor {
  border-radius: 25px;
  border: 2px solid #73ad21;
  padding: 20px;
  width: 200px;
  height: 150px;
}
.secondColor {
  border-radius: 25px;
  border: 2px solid #73ad21;
  padding: 20px;
  width: 150px;
  height: 75px;
}
.thirdColor {
  border-radius: 25px;
  border: 2px solid #73ad21;
  padding: 20px;
  width: 200px;
  height: 150px;
}
.firstimg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.mainbody {
  margin-top: 1%;
  margin-left: 15%;
  margin-right: 10%;
}
.bottombody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 10%;
}
.footimg img {
  margin-top: 0%;
  margin-left: 34%;
  margin-right: 50%;
  width: 30%;
}
.bottom {
  margin: 50px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top {
  margin-bottom: 20px;
  margin-top: 30px;
}
.firstColor:hover {
  background-color: cadetblue;
}
.secondColor:hover {
  background-color: cadetblue;
}
.thirdColor:hover {
  background-color: cadetblue;
}
